.btnSalvar{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.btn{
  display: flex;
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.btn::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: conic-gradient(#333, #993399);
  animation: efeito 1.3s ease infinite;
  transition: 1s ease;
}
@keyframes efeito{
  100%{
    transform: rotate(360deg);
  }
}

.btnSalvar:hover .btn::before{
  background-color: #993399;
  border-radius: 6px;
}
.btnSalvar input{
  position: absolute;
  z-index: 1;
  display: block;
  width: 147px;
  height: 52px;
  background: #121212;
  color: white;
  text-align: center;
  line-height: 52px;
  border-radius: 6px;
  text-decoration: none;
  letter-spacing: 1px;
}